.container{
    border: 5px solid #ffcc5c;
    display: flex;
}

.home{
    flex: 1;
}

.logout{
    flex: 1;
}


/* .container > div{
    flex: 1;
}

.container > .about{
    flex: 2;
} */
/* numbers are relative to first size ie. 2 is twice the size of 1 */